<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bd67e0aa15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <!-- Header Home -->

    <header class="main-header">

        <div class="main-top-bar">

            <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></a>

            <div class="search-bar">
                <input type="text" placeholder="Buscar producto, marcas y mas" autocomplete="off" name="buscar producto" id="input-buscador-header">
                <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
            </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>

        </div>

        <!-- Headear, MenuHamburguer y Nav Bar -->

        <a href="#" class="hamburguer-bttn">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="main-navbar">

            <ul class="navbar">
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="/create-product">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="login">
                <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="/product-cart">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>

        </nav>

    </header>

    <!--home-banner-->

    <div class="home-banner">
        <img class="banner" src="/images/img-home-banner.jpg" alt="banner">
    </div>

    <!-- Main Home -->

    <main>
        <section>
            <div class="titulo-seccion-ultima-vista">
                <h3>Basado en tu ultima vista</h3>
            </div>

            <!--Main Articles-->

            <article class="articulos-ultima-vista">

                <div class="content-images-products">
                    <img class="imgs-products" src="/images/img-cafetera-moulinex.jpg" width="400" alt="cafetera">
                </div>

                <div class="info-articles">

                    <div class="circulo-envio">
                        <i id="camion" class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>

                    <p class="price">$6.770</p>
                    <p class="descuentos">40% Off</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>

            </article>

            <article class="articulos-ultima-vista">

                <div class="content-images-products">
                    <img class="imgs-products" src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                </div>

                <div class="info-articles">
                    <div class="circulo-envio"><i id="camion" class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="price">$230.000</p>
                    <p class="descuentos">20% Off</p>
                    <h4 class="descripciones">MacBook Por 2019</h4>
                </div>

            </article>

            <article class="articulos-ultima-vista">

                <div class="content-images-products">
                    <img class="imgs-products" src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                </div>

                <div class="info-articles">
                    <div class="circulo-envio"><i id="camion" class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="price">$70.500</p>
                    <p class="descuentos">10% Off</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>

            </article>

            <article class="articulos-ultima-vista">

                <div class="content-images-products">
                    <img class="imgs-products" src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                </div>

                <div class="info-articles">
                    <div class="circulo-envio">
                        <i id="camion" class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="price">$23.200</p>
                    <p class="descuentos">5% Off</p>
                    <h4 class="descripciones">Smart TV Samsung 43"</h4>
                </div>

            </article>

        </section>

        <section id="#ofertas">

            <div class="titulo-seccion-ofertas">
                <h3>Seccion ofertas</h3>
            </div>

            <article class="articulos-seccion-ofertas">

                <div class="content-images-products">
                    <img class="imgs-products" src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                </div>

                <div class="info-articles">
                    <div class="circulo-envio"><i id="camion" class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
                    <p class="price">$6.770</p>
                    <p class="descuentos">%40 Off</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>

            </article>

            <article class="articulos-seccion-ofertas">

                <div class="content-images-products">
                    <img class="imgs-products" src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                </div>

                <div class="info-articles">
                    <div class="circulo-envio"><i id="camion" class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="price">$230.000</p>
                    <p class="descuentos">%20 Off</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>

            </article>

            <article class="articulos-seccion-ofertas">

                <div class="content-images-products">
                    <img class="imgs-products" src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                </div>

                <div class="info-articles">
                    <div class="circulo-envio"><i id="camion" class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="price">$70.500</p>
                    <p class="descuentos">%10 Off</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>

            </article>

            <article class="articulos-seccion-ofertas">

                <div class="content-images-products">
                    <img class="imgs-products" src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                </div>

                <div class="info-articles">
                    <div class="circulo-envio"><i id="camion" class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="price">$23.200</p>
                    <p class="descuentos">%5 Off</p>
                    <h4 class="descripciones">Smart TV Samsing 43"</h4>
                </div>

            </article>

        </section>

    </main>

    <!-- Footer -->

    <footer>

        <div class="footer-container">

            <section>

                <div class="icons-footer">
                    <i class="fa-solid fa-credit-card"></i>
                </div>

                <div class="footer-text">
                    <h3>Paga con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>

            </section>

            <section>

                <div class="icons-footer">
                    <i class="fa-solid fa-gift"></i>
                </div>

                <div class="texto-footer">
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>

            </section>

            <section>

                <div class="icons-footer">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <div class="texto-footer">
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>
                </div>

            </section><br>

        </div>

        <div>
            <p class="copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </div>
    </footer>
</body>

</html>